<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <style>

        *{
            margin:0;
            padding:0;
            box-sizing:border-box ;
        }
        .cardss{
            display: grid;
        grid-template-columns: repeat(5, 300px);
            justify-content: center;
            align-items: center;
            margin-right:100px;
            width:100%;
            gap:30px;

        }
        .card{
            margin:30px;
            padding:10px
        }
    </style>
</head>
<body>
    {{>navbar}}
<div class="cards">
    <div class="cardss">
    <div class="card"style="width: 20rem;" >
  <img src="https://images-static.nykaa.com/creatives/2188cfcd-6937-43a5-8fe8-597c7bfc0d73/default.jpg?tr=w-400,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body" style="width: 18rem;">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 
  </div>
</div>

<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/511f1bcb-7c7f-4cce-b191-28c52d155a1a/default.jpg?tr=w-400,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/37338a6c-6d03-4a19-9e96-a1f3c9d6ffb8/default.jpg?tr=w-400,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/3994c740-6e08-421a-9915-4218684e9caf/default.jpg?tr=w-400,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/fa00de6e-7ddf-4876-a135-a43ba59c0f92/default.jpg?tr=w-400,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body" style="width: 18rem;">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/aaa7577c-a248-4a8d-87e8-6ea65a1d2234/default.jpg?tr=w-400,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/cc0f998c-5fb5-4cd3-a214-4a6757cfd7c6/default.jpg?tr=w-400,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/df9e11aa-2387-478e-aad4-18d7f2ed5fba/default.jpg?tr=w-240,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/6afda61e-3bd4-4000-8ffa-16b989d7d1b4/default.jpg?tr=w-240,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/7b54ac88-4026-4c21-b825-da38c05bd02f/default.png?tr=w-240,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/371a0f3b-51f5-404f-ac8d-627f71a9bde3/default.jpg?tr=w-300,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/88cadc10-2b3e-4f83-a620-016ba26d99e5/default.jpg?tr=w-300,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/319a0351-8767-477f-af83-2c25f49e1e24/default.jpg?tr=w-300,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/67536a26-5138-4919-90cc-4366f0323f70/default.jpg?tr=w-300,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   
  </div>
</div>
<div class="card" style="width: 20rem;">
  <img src="https://images-static.nykaa.com/creatives/ddf491ad-b6f8-4a23-826e-6c6e6923ff68/default.jpg?tr=w-240,cm-pad_resize" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   
  </div>
</div>

    </div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>